//Purchase persuation
#whyToBuy.singPadding.quinDecSpacing
    .header.opaque.contentMain.singSpacing=titlePersuation
    table.contentMain.singSpacing.opaque
        tr
            include persuation/block
            td.textLeft
                span.textPadding=persuationText[0]
    table.contentMain.singSpacing.opaque
        tr
            td.textRight
                span.textPadding=persuationText[1]
            include persuation/block
    table.contentMain.singSpacing.opaque
        tr
            include persuation/block
            td.textLeft
                span.textPadding=persuationText[2]