//List of propertiess
#propList.singPadding.quinDecSpacing
    .header.opaque.singSpacing
        span#txt-propListName
    table
        for dummy,i in propNameText
            tr.opaque.singSpacing
                td.columnFirst=propNameText[i]
                td.colon
                td.columnLast=propValueText[i]